.containerlist {
    background: transparent;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.responsive-list {
    list-style: none;
    padding: 0;
    word-wrap: break-word; /* Ajusta el texto al ancho máximo del contenedor */

}

.responsive-list li {
    padding: 10px;
}

/* Estilos para hacer la lista responsiva */
@media screen and (max-width: 600px) {
    .responsive-list li {
        font-size: 14px;
    }
}
.responsive-list{
    flex: auto;
    margin: auto;
    background: #ff9999;
    padding: 30px;
}

.responsive-list li{
    
    background: #ffe5e5;
    color: darkred;
    padding: 5px;
    margin: auto;
}

.cajimgtelefmano {
    padding: 10px;
    word-wrap: break-word;
    width: 25%;
    float: right;
    text-align: right; /* Alinea el texto a la derecha */
}

.cajimgtelefmano img {
    width: 100%; /* Utiliza el 100% del ancho del contenedor */
    height: auto;
    max-width: 100px; /* Establece un ancho máximo para la imagen */
}
.what{
    border: none;
    background: none;
}
