.caja{
    margin-top: 30px;
    border: 2px solid black;
    background-color: white;
}

.TTuto{

    width:300px;
    margin: auto;

}

.grid-tutorial{

    display: grid;

    grid-template-columns: auto;
    grid-template-rows:  auto;
}