.grid-Servicios{

    display: grid;
    grid-template-areas: ' descrip precio '
    ' descrip precio ';
    grid-template-columns: 50% 50% ;
    grid-template-rows:  auto auto ;
}

.Descripciones{
    grid-area: descrip ;
    background-color: transparent;

}

.ListaPrecio{

     grid-area: precio;
    background-color: transparent;
}

ul.listdesc {list-style-position:outside;}
ul.listpres {list-style-position:outside;}