
.container{
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgb(44, 213, 176)
    );
    object-fit: content;
    display: grid;
    grid-template-areas: " head "
                          "menu "
                          "main "
                          "body"
                          "foot ";
}

.Header{ 
    grid-area: head;

}
.Servi{
    grid-area: menu;
}
.Tutorial{
    grid-area: main;
}

.Footer{
    grid-area: foot;
}