.image-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card1,
  .card2,
  .card3,
  .card4 {
    max-width: 600px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    background-color: rgb(240, 112, 236);
  }
  
  #img {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
  }
  
  @media (max-width: 768px) {
    .card1,
    .card2,
    .card3,
    .card4 {
      max-width: 100%;
    }
  }