.footer {
    background-color: #f8f8f8;
    padding: 5px;
    text-align: center;

    bottom: 0;
    width: 100%;
  }
  
  .footer-links {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .footer-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
  }
  
  .footer-links a:hover {
    color: #007bff; /* Cambia el color al pasar el mouse */
  } 